@media(max-width: 1170px) {
    .slider-followers__inner {
        .product-item__img {
            min-height: 320px;
        }
        .product-item {
            max-width: 100%;
        }
    }
    .category-page__filter-settings-icons {
        display: none;
    }
    .category-page__product-item {
        flex-basis: calc(50% - 25px);
        max-width: 100%;
    }
    .category-page__product-item-img {
        min-height: 240px;
    }
    .product-card__inner {
        display: block;
    }
    .product-card__product {
        margin-bottom: 30px;
    }
    .product-card__aside {
        margin-left: 0;
    }
    .contact__items {
        display: block;
    }
    .product-card__aside {
        width: 100%;
    }
    .contact__item {
        max-width: 100%;
        margin-bottom: 20px;
    }
    //start header
    .header__menu {
        position: static;
    }
    .menu-pages {
        width: 100%;
        left: 0;
        right: 0;
        top: 180px;
    }
    //end header
    .top-line.how-it-works__line .top-line__breadcrumbs {
        display: block;
    }
}

@media(max-width: 1124px) {
    .slider-followers__inner .product-item {}
}

@media(max-width: 1040px) {
    //start header
    .header__user-open-btn {
        display: block;
        font-size: 45px;
        font-weight: 700;
    }
    .header__top-mobile-box {
        position: fixed;
        max-width: 320px;
        top: 0;
        right: -420px;
        z-index: 215;
        background-color: $bg;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
        padding-top: 5%;
        .header__user-close-btn {
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 30px;
            font-weight: 700;
            z-index: 1000;
        }
        .header__shopper-info-wrapper {
            height: auto;
            flex-direction: column;
            margin-bottom: 20px;
            width: 100%;
        }
        .header__login-btn-wrapper {
            margin-bottom: 20px;
        }
        .header__shopper-info-wrapper .header__wrapper-arrow {
            position: static;
            min-width: 100%;
            margin-top: 20px;
            &::before {
                display: none;
            }
        }
        .header__shoper-info-menu {
            padding: 0;
            padding-top: 20px;
            height: 300px;
            overflow-y: auto;
        }
        .header__box-info {
            height: auto;
            max-width: 180px;
            padding-top: 20px;
        }
        .header__box-info>li .number-info {
            top: -16px;
            left: 13px;
        }
        .header__wrapper-arrow {
            min-width: 320px;
        }
        .slide-menu__box {
            height: 300px;
            overflow-y: auto;
            .slide-menu__item {
                padding: 10px 10px;
            }
        }
        .slide-menu__notifications {
            left: -70px;
            top: 40px;
            &::before {
                left: 74px;
            }
        }
        .slide-menu__envelope {
            right: -150px;
            top: 40px;
        }
        .header__wrapper-arrow::before {
            right: 155px;
        }
        .slide-menu__cart {
            right: -70px;
            top: 40px;
            &::before {
                right: 73px;
            }
        }
        .header__box-btn,
        .header__top-link {
            height: auto;
            margin-left: 0;
            margin-bottom: 2vh;
        }
        .header__box-btn {
            margin-top: auto;
        }
    }
    //end header
}

@media(max-width: 1100px) {
    .advantages__inner {
        flex-wrap: wrap;
    }
    .advantages__item {
        max-width: 50%;
        &:last-child {
            max-width: 100%;
        }
    }
    //start header
    .menu-pages__martplace-pages,
    .menu-pages__dashboard {
        margin-right: 20px;
    }
    //end header
    .product-item {
        flex-basis: calc(50% - 30px);
        max-width: 100%;
    }
    .product-item__info-cart {
        margin-left: 0;
    }
    .category-page__filter.favorites-prod__filter .favorites-prod__filter-title,
    .category-page__filter.favorites-prod__filter .category-page__filter-settings-icons {
        display: none;
    }
    .category-page__filter.favorites-prod__filter .category-page__filter-settings {
        max-width: 100%;
    }
    .category-page__filter.favorites-prod__filter .jq-selectbox.jqselect.favorites-prod__price,
    .category-page__filter.favorites-prod__filter .jq-selectbox.jqselect.favorites-prod__filter-by {
        margin-right: 0;
    }
}

@media (max-width: 1080px) {
    .slider-featured__item-img,
    .slider-featured__item-description {
        max-width: 50%;
    }
    .slider-featured__item-description {
        padding-right: 10px;
        padding-left: 10px;
    }
    // start footer 
    .footer__inner {
        flex-wrap: wrap;
        padding: 75px 0 75px;
    }
    .contact__col {
        min-width: 100%;
        margin-bottom: 30px;
    }
    // end footer 
    .pricing-plan__items {
        flex-wrap: wrap;
    }
    .pricing-plan__item {
        flex-basis: calc(50% - 30px);
        margin-bottom: 30px;
        max-width: 100%;
    }
}

@media(max-width: 980px) {
    .slider-featured__item {
        display: block;
    }
    .slider-featured__item-img,
    .slider-featured__item-description {
        max-width: 100%;
    }
    .slider-featured__item-img {
        min-height: 400px;
    }
    .slider-featured__item-description {
        margin-left: 0;
    }
    //start header
    .menu-pages {
        flex-wrap: wrap;
    }
    .menu-pages__martplace-pages {
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .menu-pages__martplace-pages .menu-pages__list {
        justify-content: flex-start;
        ul+ul {
            margin-left: 80px;
        }
    }
    .menu-pages__others-pages {
        margin-right: auto;
    }
    //end header
    .how-it-works__item-inner {
        display: block;
    }
    .how-it-works__item-img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .how-it-works__item-content {
        max-width: 100%;
    }
}

@media(max-width: 950px) {
    .search {
        min-height: 600px;
        padding-top: 80px;
    }
    .category-page__filter-inner {
        display: block;
        min-height: auto;
    }
    .category-page__filter-btns {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .category-page__filter-settings {
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .category-page__inner {
        display: block;
    }
    .category-page__aside {
        margin-right: 0;
        display: flex;
        justify-content: space-between;
    }
    .category-page__filter.favorites-prod__filter .jq-selectbox.jqselect.favorites-prod__filter-by {
        padding-top: 0;
    }
    //start header
    .header__inner nav {
        @include all-center;
    }
    .header__btn-menu {
        display: block;
    }
    .header__menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 180px;
        left: 0;
        right: 0;
        z-index: 120;
        background-color: #fff;
        min-height: auto;
        &-link {
            display: block;
            text-align: center;
            padding: 7px 0;
        }
        .drop-down-link {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                background: url(../img/icons/chevron-down.svg) center/cover no-repeat;
                width: 13px;
                height: 8px;
                top: 18px;
                right: 25px;
            }
        }
        li {
            display: block;
            &+li {
                padding-left: 0;
            }
        }
        &-box {
            position: static;
            background-color: $bg;
        }
    }
    //end header
}

@media(max-width: 920px) {
    .more-advantage__item {
        flex-basis: calc(50% - 30px);
        max-width: 100%;
    }
    .blog__inner {
        display: block;
    }
    .blog__aside {
        margin-left: 0;
    }
    .search-post .header__inner-search {
        max-width: 100%;
    }
    .posts-box__item-content {
        max-width: 100%;
    }
    .blog__aside-item.banner360x270 {
        max-width: 360px;
        min-width: 360px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .blog__aside-item {
        min-width: 100%;
    }
}

@media(max-width: 880px) {
    .news__inner {
        flex-wrap: wrap;
    }
    .news__item {
        flex-basis: calc(50% - 30px);
        max-width: 100%;
        margin-bottom: 20px;
    }
    .product-card__product-tabs .tab_content img {
        width: 100%;
    }
    .product-card__product-tabs .tabs,
    .product-card__product-tabs .tabs .tab {
        display: block;
    }
    .product-card__product-tabs .tabs .tab+.tab {
        border-left: none;
    }
    .product-card__product-tabs .tabs .tab.active {
        border-bottom: 3px solid $btn;
    }
}

@media(max-width: 840px) {
    .feedback__inner {
        display: block;
    }
    .feedback__item {
        max-width: 100%;
        &+.feedback__item {
            margin-left: 0;
            margin-top: 20px;
        }
    }
    .slider-followers__inner {
        .product-item__img {
            min-height: 420px;
        }
    }
    .category-page__aside {
        display: block;
    }
    .aside__item {
        width: 100%;
    }
}

@media(max-width: 820px) {
    .search__box {
        padding: 15px;
        bottom: -95px;
    }
    .search__box form {
        display: block;
    }
    .search__box .search__string {
        margin: 0;
        margin-bottom: 20px;
    }
    .contact__form-inner {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact__form-box {
        display: block;
    }
    .contact__form-box-item {
        max-width: 100%;
    }
    .contact {
        padding-top: 60px;
    }
    .contact__form {
        margin-bottom: 60px;
    }
}

@media(max-width: 780px) {
    .product-item {
        flex-basis: 100%;
    }
    .product-item__img {
        min-height: 380px;
    }
    //start header
    //end header
    // start footer 
    .footer__inner {
        padding: 40px 0 40px;
    }
    .footer__col.support {
        margin: 0 auto;
    }
    .letter__col {
        min-width: 100%;
        text-align: center;
        padding-top: 30px;
        &-subscription {
            min-width: 100%;
        }
    }
    // end footer 
    .pricing-plan__item {
        flex-basis: 100%;
    }
}

@media(max-width: 700px) {
    .news__item {
        flex-basis: 100%;
        &-img {
            min-height: 360px;
        }
    }
    //start header
    .menu-pages__dashboard,
    .menu-pages__others-pages {
        max-width: 100%;
        margin-right: 0;
    }
    .menu-pages__others-pages .menu-pages__list {
        justify-content: flex-start;
        ul+ul {
            margin-left: 80px;
        }
    }
    .menu-pages__dashboard {
        margin-bottom: 15px;
    }
    //end header
}

@media(max-width: 650px) {
    .more-advantage__item {
        flex-basis: 100%;
    }
    .analytics__inner {
        flex-wrap: wrap;
        .analytics__item {
            margin-bottom: 20px;
        }
    }
    .slider-featured,
    .new-products,
    .slider-followers,
    .more-advantages,
    .feedback,
    .news {
        padding: 60px 0;
    }
    .slider-featured__box-top-title,
    .slider-followers__box-top-title,
    .new-products__title {
        text-align: center;
        margin-bottom: 20px;
    }
    .slider-featured__box-top,
    .slider-followers__box-top,
    .new-products__box-top {
        display: block;
    }
    .slider-featured__box-top-btn,
    .slider-followers__box-top-btn,
    .new-products__filter-by {
        margin: 0 auto;
    }
    .advantages {
        margin-bottom: 0;
    }
    .advantages__inner {
        display: block;
    }
    .advantages__item {
        max-width: 100%;
    }
    .category-page__products {
        padding: 40px 0;
    }
    .category-page__filter.favorites-prod__filter .category-page__filter-settings {
        flex-direction: column;
    }
    .category-page__filter.favorites-prod__filter .jq-selectbox.jqselect.favorites-prod__filter-by {
        padding-top: 0;
        min-height: auto;
        border: 1px solid #eceff2;
        margin-top: 20px;
        .jq-selectbox__select .jq-selectbox__trigger-arrow {
            right: 15px;
        }
        .jq-selectbox__select {
            margin: 0;
        }
    }
    .jq-selectbox {
        width: 100%;
        margin-bottom: 20px;
    }
    .product-card__product-social {
        flex-direction: column;
    }
    .product-card__product-social .product-card__share {
        margin-bottom: 30px;
    }
    .product-card__product-social .letter__col-social-link {
        margin: 0;
    }
    .category-page__filter-settings {
        display: block;
    }
}

@media(max-width: 600px) {
    .invite__inner {
        display: block;
        .invite__item {
            width: 100%;
            &+.invite__item {
                margin-top: 60px;
            }
        }
        .become-author,
        .atart-shopping {
            position: static;
        }
    }
    .category-page__product-item {
        flex-basis: 100%;
    }
    .category-page__product-item-img {
        min-height: 320px;
    }
}

@media(max-width: 570px) {
    .create-account.login-form .create-account__have {
        flex-wrap: wrap;
    }
    .category-page__filter-settings .jq-selectbox.jqselect {
        width: 100%;
    }
}

@media(max-width: 520px) {
    .join__inner {
        display: block;
        .join__item {
            margin: 0 auto;
            border: none;
            padding-top: 15px;
            padding-bottom: 15px;
            width: 100%;
        }
    }
    .slider-followers__inner {
        .product-item__img {
            min-height: 320px;
        }
    }
    .search {
        margin-bottom: 250px;
    }
    .search__box {
        bottom: -190px;
    }
    .search__box .search__string .search__select {
        position: static;
    }
    .search__box .search__string input {
        margin-bottom: 20px;
        padding-right: 25px;
    }
    .search__box .search__string .jq-selectbox__select {
        border: 1px solid #dcdcdc;
        border-radius: 4px;
    }
    .product-item__img {
        min-height: 380px;
    }
    .blog span.lnr {
        display: block;
    }
    .blog span.lnr+span.lnr {
        margin-top: 20px;
        margin-left: 0;
    }
    //start header
    .menu-pages {
        text-align: center;
    }
    .menu-pages__martplace-pages .menu-pages__list,
    .menu-pages__others-pages .menu-pages__list {
        ul+ul {
            margin-left: 0;
        }
    }
    .menu-pages__list {
        display: block;
        &-column {
            column-count: 1;
        }
    }
    //end header
    .create-account.recover-password .create-account__head,
    .create-account.recover-password .create-account__box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .how-it-works__item-img {
        width: 100%;
    }
    .how-it-works__item {
        padding: 40px 0;
    }
    .product-item__info-price,
    .product-item__info-star {
        margin: 0;
    }
}

@media(max-width: 460px) {
    .news__item-img {
        min-height: 240px;
    }
    .feedback__item-img {
        display: none;
    }
    .feedback__item {
        padding: 10px;
    }
    .slider-featured__item-img {
        min-height: 280px;
    }
    .search__title {
        font-size: 45px;
    }
    .search__box-btn {
        display: block;
        .search__btn {
            display: block;
            &+.search__btn {
                margin-top: 20px;
            }
        }
    }
    .product-item__img {
        min-height: 280px;
    }
    .blog__aside-item.banner360x270 {
        display: none;
    }
    .product-card__product-btn {
        flex-direction: column;
    }
    .product-card__product-btn .product-preview-favorites {
        margin: 0;
        margin-top: 30px;
    }
    .create-account__head,
    .create-account__box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .product-item__content {
        padding: 10px;
    }
    .product-item__info {
        padding-left: 10px;
        padding-right: 10px;
        flex-wrap: wrap;
        .product-item__info-cart {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }
    }
    .page-404__img {
        width: 100%;
        padding-bottom: 113.74045%;
        height: auto;
    }
    .page-404__title {
        text-align: center;
    }
}

@media(max-width: 400px) {
    .analytics__inner {
        display: block;
        .analytics__item {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .slider-followers__inner {
        .product-item__img {
            min-height: 240px;
        }
    }
    .slider-featured {
        padding: 60px 0;
    }
    .slider-featured__item-description-keywords {
        margin-bottom: 10px;
        & a {
            margin-bottom: 10px;
        }
    }
    .slider-featured__item-description {
        padding-top: 10px;
    }
    .slider-featured__item-description-functional {
        flex-wrap: wrap;
        padding-top: 20px;
        height: auto;
    }
    .slider-featured__item-description-functional-star {
        margin: 20px auto;
    }
}

@media(max-width: 380px) {
    .category-page__product-item-img {
        min-height: 240px;
    }
    .pagination {
        a,
        span {
            width: 40px;
        }
    }
    .blog__aside-item.posts-box .blog__aside-item-title {
        flex-direction: column;
        text-align: center;
    }
    .product-card__aside .author__btn {
        flex-direction: column;
    }
    .product-card__aside .author__btn .default-btn {
        margin-bottom: 30px;
    }
    .product-card {
        padding-bottom: 60px;
    }
    // start footer 
    .footer__col.support {
        min-width: 100%;
    }
    .letter__col-social-link li+li {
        margin-left: 5px;
    }
    .letter__col-social-link a {
        width: 35px;
        height: 35px;
    }
    // end footer 
}

@media (min-width: 951px) {
    .header__menu {
        display: block !important;
    }
}