@import 'vars';
@import 'global';
@import 'fonts';
// start header
// start header-top
.header__top {
    background-color: #eef1f3;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__box-btn {
    margin-left: auto;
    text-align: center;
    .header__top-btn {
        color: #fff;
        font-size: 14px;
        min-width: 142px;
        width: 100%;
        padding: 4px 12px;
        border-radius: 19px;
        background-color: $btn;
    }
}

.header__box-info {
    max-width: 120px;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
        height: 20px;
        a {
            position: relative;
            height: inherit;
        }
        .number-info {
            position: absolute;
            display: block;
            min-width: 22px;
            top: -18px;
            left: 10px;
            height: 21px;
            border-radius: 11px;
            font-weight: 500;
            text-align: center;
            line-height: 20px;
            color: #fff;
            font-size: 14px;
            padding: 0 5px;
        }
        .header__alarm-number {
            background-color: #ff6a6c;
        }
        .header_envelope-number {
            background-color: #62d03b;
        }
        .header__cart-number {
            background-color: $btn;
        }
    }
}

.header__shopper-info {
    display: flex;
    justify-content: space-between;
    line-height: 22px;
    .header__avatar {
        margin-right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: center/cover no-repeat;
    }
    .header__name {
        color: #333;
        font-weight: 500;
    }
    .header__balance {
        font-size: 15px;
        color: $btn;
    }
}

// end header-top
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu {
    li+li {
        margin-left: 32px;
    }
    li {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        color: #333;
    }
}

.header__inner-search {
    position: relative;
    outline: none;
    input {
        display: block;
        width: 360px;
        height: 46px;
        border: 1px solid #d9dfe5;
        border-radius: 23px;
        padding-left: 30px;
        padding-right: 90px;
        outline: inherit;
        &:focus::placeholder {
            color: transparent;
        }
        &::placeholder {
            color: #898f96;
        }
    }
    button {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        min-width: 70px;
        height: 46px;
        border-radius: 23px;
        background-color: $btn;
        cursor: pointer;
        outline: inherit;
    }
}

// end header
// start search
.search {
    background-image: linear-gradient( 180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
    min-height: 725px;
    text-align: center;
    position: relative;
    padding: 170px 0 140px;
    margin-bottom: 185px;
    color: #f3f3f8;
    &__title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 30px;
    }
    &__text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 64px;
    }
    &__box-btn {
        display: flex;
        justify-content: space-between;
        max-width: 410px;
        margin: 0 auto;
    }
}

.search__btn {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.search__btn-active {
    background-color: #fff;
    color: $btn;
}

.search__box-bq1,
.search__box-bq2,
.search__box {
    position: absolute;
    min-height: 135px;
    background-color: #fff;
    border-radius: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.search__box-bq1 {
    max-width: 1080px;
    width: 100%;
    opacity: .5;
    bottom: -42px;
}

.search__box-bq2 {
    max-width: 1110px;
    width: 100%;
    opacity: .5;
    bottom: -55px;
}

.search__box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    width: 100%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    bottom: -68px;
    padding: 10px 40px;
    form {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .search__string {
        max-width: 810px;
        width: 100%;
        position: relative;
        input {
            max-width: inherit;
            width: inherit;
            border-radius: 4px;
            display: inline-block;
            border: 1px solid #dcdcdc;
            padding: 17px 215px 18px 25px;
            &:focus::placeholder {
                color: transparent;
            }
            &::placeholder {
                color: #676767;
            }
        }
        .jq-selectbox.jqselect {
            position: absolute !important;
            right: 0;
            top: 0;
        }
        .jq-selectbox__select {
            min-width: 190px;
            min-height: 55px;
            border-color: #dcdcdc;
            background: transparent;
            box-shadow: none;
            border: none;
            border-left: 1px solid #dcdcdc;
            border-radius: 0;
            padding-left: 0;
            .jq-selectbox__select-text {
                font-family: 'Quicksand', sans-serif;
                color: $text;
                font-size: 16px;
                padding-top: 10px;
            }
            .jq-selectbox__trigger {
                border: none;
                .jq-selectbox__trigger-arrow {
                    border: none;
                    background: url(../img/icons/chevron-down.svg) center/cover no-repeat;
                    width: 13px;
                    height: 8px;
                    right: 15px;
                    top: 23px;
                }
            }
        }
        .jq-selectbox__dropdown {
            li {
                font-family: 'Quicksand', sans-serif;
                color: $text;
                font-size: 16px;
                display: block;
                padding: 7px 10px;
            }
        }
        .jq-selectbox li:hover {
            background-color: $btn;
            color: #fff;
        }
    }
    button {
        min-width: 223px;
        padding: 18px 12px 19px;
        border: none;
        background-color: $btn;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
    }
}

// end search
// start advantages
.advantages {
    margin-bottom: 120px;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 360px;
    text-align: center;
    padding: 40px 30px;
    &-img {
        margin-bottom: 35px;
    }
    &-title {
        font-size: 24px;
        color: #000;
        margin-bottom: 30px;
    }
    &:hover {
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}

// end advantages
// start advantages
// end advantages
// start advantages
// end advantages
// start advantages
// end advantages
// start advantages
// end advantages