@import 'vars';
@import 'global';
@import 'fonts';
// start header
// start header-top
.header__top {
    background-color: #eef1f3;
}

.header__top-inner {
    @include between-center;
    height: 100px;
}

.header__top-link {
    font-size: 15px;
    color: #676767;
    margin-left: auto;
    li+li {
        margin-left: 16px;
    }
}

.header__top-mobile-box {
    max-width: 850px;
    width: 100%;
    height: inherit;
    @include between-center;
}

// .header__top-mobile-box-wrapper {
//     max-width: 850px;
//     width: 100%;
//     height: inherit;
//     @include between-center;
// }
.header__box-btn {
    margin-left: auto;
}

.header__top-btn {
    @include tr-scale;
    text-align: center;
    color: #fff;
    font-size: 14px;
    min-width: 142px;
    width: 100%;
    padding: 4px 12px;
    border-radius: 19px;
    background-color: $btn;
}

.header__box-info {
    max-width: 120px;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    @include between-center;
    height: inherit;
    &>li {
        position: relative;
        height: inherit;
        display: flex;
        align-items: center;
        img {
            cursor: pointer;
        }
        .number-info {
            position: absolute;
            display: block;
            min-width: 22px;
            top: 22px;
            left: 10px;
            height: 21px;
            border-radius: 11px;
            font-weight: 500;
            text-align: center;
            line-height: 20px;
            color: #fff;
            font-size: 14px;
            padding: 0 5px;
        }
        .header__alarm-number {
            background-color: #ff6a6c;
        }
        .header__envelope-number {
            background-color: #62d03b;
        }
        .header__cart-number {
            background-color: $btn;
        }
    }
}

.header__shopper-info-wrapper {
    position: relative;
    height: inherit;
    display: flex;
    align-items: center;
}

.header__shopper-info {
    display: flex;
    justify-content: space-between;
    line-height: 22px;
    cursor: pointer;
    .header__avatar {
        margin-right: 20px;
        min-width: 50px;
        height: 50px;
        border-radius: 50%;
        background: center/cover no-repeat;
    }
    .header__name {
        color: #333;
        font-weight: 500;
    }
    .header__balance {
        font-size: 15px;
        color: $btn;
    }
}

.header__wrapper-arrow {
    min-width: 370px;
    z-index: 215;
    position: absolute;
    top: 100px;
    right: 0;
    border-top: 1px solid $btn;
    &::before {
        content: '';
        position: absolute;
        background-color: $btn;
        width: 11px;
        height: 11px;
        top: -6px;
        right: 32px;
        transform: rotate(45deg);
    }
}

.header__shoper-info-menu {
    position: relative;
    z-index: 212;
    background-color: #fff;
    padding: 20px;
    min-width: 270px;
    li {
        display: block;
        a {
            display: block;
            padding: 7px 10px;
            font-size: 15px;
            color: #54667a;
            span+span {
                margin-left: 15px;
            }
            &:hover {
                background-color: $btn;
                color: #fff;
                border-radius: 2px;
            }
        }
    }
}

.slide-menu {
    background-color: #fff;
    z-index: 212;
    position: relative;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    &__top,
    &__box-info,
    &__item {
        @include between-center;
    }
    &__box {
        font-size: 15px;
        li {
            display: block;
        }
    }
    &__top {
        padding: 17px 25px;
    }
    &__item {
        border-top: 1px solid #e8ebf0;
        padding: 10px 25px;
    }
    &__title {
        font-size: 18px;
        color: #000;
    }
    &__view-all {
        color: $btn;
    }
    &__content {
        max-width: 265px;
        width: 100%;
    }
    &__avatar {
        background: center/cover no-repeat;
        min-width: 40px;
        height: 40px;
        margin-right: 5px;
    }
    &__name {
        color: #333;
        font-weight: 500;
        line-height: 20px;
        font-size: 16px;
        span {
            margin-left: 10px;
        }
    }
    .new-message {
        color: $btn;
    }
}

.slide-menu__envelope {
    right: -28px;
}

.slide-menu__notifications {
    left: -30px;
    &::before {
        left: 32px;
        right: auto;
    }
    .slide-menu__box {
        li {
            padding: 0 25px;
            .slide-menu__item {
                padding: 10px 0;
            }
        }
    }
    .notification {
        .slide-menu__name {
            max-width: 217px;
            span {
                font-size: 15px;
                margin: 0;
            }
        }
        &__from {
            color: $btn;
            line-height: 22px;
        }
        &__string {
            color: #747a86;
        }
        &__date {
            font-size: 14px;
            line-height: 28px;
            color: #747a86;
        }
    }
}

.slide-menu__item.notification {
    align-items: start;
}

.notification__icons {
    @include all-center;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
}

.notification.added {
    .notification__added {
        display: inline;
    }
    .notification__icons {
        color: $btn;
        background-color: rgba($btn, .1);
    }
}

.notification.commented {
    .notification__commented {
        display: inline;
    }
    .notification__icons {
        color: $purple;
        background-color: rgba($purple, .1);
    }
}

.notification.purchased {
    .notification__purchased {
        display: inline;
    }
    .notification__icons {
        color: #ff6a6c;
        background-color: rgba(#ff6a6c, .1);
    }
}

.notification.wrote {
    .notification__wrote {
        display: inline;
    }
    .notification__icons {
        color: #62d03a;
        background-color: rgba(#62d03a, .1);
    }
}

.slide-menu__cart {
    min-width: 400px;
    right: -30px;
    .cart {
        border-top: none;
        border-bottom: 1px solid #e8ebf0;
        padding: 20px 25px;
        &__content {
            max-width: 205px;
            width: 100%;
            padding-left: 15px;
            margin-right: auto;
            div {
                line-height: 22px;
            }
        }
        &__img {
            min-width: 80px;
            height: 70px;
        }
        &__name,
        &__theme {
            font-size: 16px;
            color: #000;
            font-weight: 500;
        }
        &__theme {
            margin-bottom: 14px;
        }
        &__category a {
            color: $purple;
            display: inline-flex;
            align-items: center;
            span {
                margin-left: 6px;
            }
        }
        &__box-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 60px;
            width: 100%;
        }
        &__trash {
            @include all-center;
            min-width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: rgba($purple, .1);
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            margin-bottom: 9px;
            span {
                padding-left: 2px;
                color: #818c98;
            }
        }
        &__price {
            color: $btn;
            font-weight: 500;
            background-color: rgba($btn, .1);
            border-radius: 15px;
            padding: 0 12px;
        }
    }
    &-inner-total {
        display: flex;
        justify-content: flex-end;
        padding: 17px 25px;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        span {
            margin-left: 32px;
        }
    }
    &-btns {
        display: flex;
        a {
            width: 50%;
            min-height: 60px;
            @include all-center;
            color: #fff;
            font-size: 15px;
        }
    }
    &-go-to-cart-btn {
        background-color: $purple;
    }
    &-checkout-btn {
        background-color: $btn;
    }
}

.header__login-btn {
    @include between-center;
    .register {
        margin-left: 10px;
    }
    a {
        min-width: 80px;
    }
}

// end header-top
.header__inner {
    @include between-center;
    min-height: 80px;
}

nav {
    min-height: inherit;
}

.header__btn-menu {
    margin-right: 20px;
}

.btn-menu__bar1,
.btn-menu__bar2,
.btn-menu__bar3 {
    width: 32px;
    height: 4px;
    background-color: #726c6c;
    margin: 5px 0;
    transition: 0.4s;
}

.change .btn-menu__bar1 {
    transform: rotate(-45deg) translate(-6px, 7px);
}

.change .btn-menu__bar2 {
    opacity: 0;
}

.change .btn-menu__bar3 {
    transform: rotate(45deg) translate(-6px, -7px);
}

.header__menu {
    min-height: inherit;
    position: relative;
    &>li {
        &+li {
            padding-left: 28px;
        }
        &:not(:last-child) {
            position: relative;
        }
        display: inline-flex;
        align-items: center;
        min-height: inherit;
        & .header__menu-link {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 15px;
            color: #333;
        }
        &:hover {
            .header__menu-link {
                color: $btn;
            }
            .header__menu-box {
                border-top-width: 1px;
                padding: 20px;
                height: auto;
            }
        }
    }
}

.header__menu-box {
    height: 0;
    overflow: hidden;
    transition: all .2s;
    position: absolute;
    top: 80px;
    left: 0;
    min-width: 270px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 20px;
    border-top: 0px solid $btn;
    z-index: 205;
    li {
        display: block;
        &+li {
            padding-left: 0;
        }
    }
    a {
        display: block;
        font-size: 15px;
        color: #54667a;
        padding: 7px 7px 8px;
        &:hover {
            color: #fff;
            background-color: $btn;
            border-radius: 2px;
        }
    }
}

.menu-pages {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    a {
        padding: 0;
        display: inline-block;
        &:hover {
            color: inherit;
            background-color: transparent;
            border-radius: 0;
        }
    }
    &__title {
        height: inherit;
        color: #000;
        font-weight: 500;
        border-bottom: 1px solid #e8ebf0;
        padding-top: 4px;
        padding-bottom: 11px;
        margin-bottom: 25px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        height: inherit;
        li {
            display: block;
            margin-bottom: 11px;
        }
    }
    &__martplace-pages {
        max-width: 434px;
        width: 100%;
    }
    &__dashboard {
        max-width: 160px;
        width: 100%;
    }
    &__others-pages {
        max-width: 417px;
        width: 100%;
    }
}

.header__inner-search {
    position: relative;
    outline: none;
    max-width: 360px;
    width: 100%;
    input {
        display: block;
        width: 100%;
        height: 46px;
        border: 1px solid #d9dfe5;
        border-radius: 23px;
        padding-left: 30px;
        padding-right: 90px;
        outline: inherit;
        &:focus::placeholder {
            color: transparent;
        }
        &::placeholder {
            color: #898f96;
        }
    }
    button {
        @include tr-scale;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        min-width: 70px;
        height: 46px;
        border-radius: 23px;
        background-color: $btn;
        cursor: pointer;
        outline: inherit;
    }
}

// end header
// start search
.search {
    background-image: linear-gradient( 180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
    min-height: 725px;
    text-align: center;
    position: relative;
    padding: 170px 0 140px;
    margin-bottom: 185px;
    color: #f3f3f8;
    &__title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 30px;
    }
    &__text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 64px;
    }
    &__box-btn {
        display: flex;
        justify-content: space-between;
        max-width: 410px;
        margin: 0 auto;
    }
}

.search__btn {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    transition: all .6s;
    &:hover {
        background-color: #fff;
        color: $btn;
    }
}

.search__box-bq1,
.search__box-bq2,
.search__box {
    position: absolute;
    min-height: 135px;
    background-color: #fff;
    border-radius: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.search__box-bq1 {
    max-width: 1080px;
    width: 100%;
    opacity: .5;
    bottom: -42px;
}

.search__box-bq2 {
    max-width: 1110px;
    width: 100%;
    opacity: .5;
    bottom: -55px;
}

.search__box {
    @include all-center;
    max-width: 1140px;
    width: 100%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    bottom: -68px;
    padding: 10px 40px;
    form {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .search__string {
        max-width: 810px;
        width: 100%;
        position: relative;
        margin-right: 10px;
        input {
            max-width: inherit;
            width: inherit;
            border-radius: 4px;
            display: inline-block;
            border: 1px solid #dcdcdc;
            padding: 17px 215px 18px 25px;
            &:focus::placeholder {
                color: transparent;
            }
            &::placeholder {
                color: #676767;
            }
        }
        .jq-selectbox.jqselect {
            position: absolute !important;
            right: 0;
            top: 0;
        }
        .jq-selectbox__select {
            min-width: 190px;
            min-height: 55px;
            border-color: #dcdcdc;
            background: transparent;
            box-shadow: none;
            border: none;
            border-left: 1px solid #dcdcdc;
            border-radius: 0;
            padding-left: 0;
            .jq-selectbox__select-text {
                font-family: 'Quicksand', sans-serif;
                color: $text;
                font-size: 16px;
                padding-top: 10px;
            }
            .jq-selectbox__trigger {
                border: none;
                .jq-selectbox__trigger-arrow {
                    border: none;
                    background: url(../img/icons/chevron-down.svg) center/cover no-repeat;
                    width: 13px;
                    height: 8px;
                    right: 15px;
                    top: 23px;
                }
            }
        }
        .jq-selectbox__dropdown {
            bottom: auto !important;
            li {
                font-family: 'Quicksand', sans-serif;
                color: $text;
                font-size: 16px;
                display: block;
                padding: 7px 10px;
            }
        }
        .jq-selectbox li:hover {
            background-color: $btn;
            color: #fff;
        }
    }
    button {
        min-width: 223px;
        padding: 18px 12px 19px;
        border: none;
        background-color: $btn;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        @include tr-scale;
    }
}

// end search
// start advantages
.advantages {
    margin-bottom: 120px;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 360px;
    text-align: center;
    padding: 40px 30px;
    &-img {
        margin-bottom: 35px;
    }
    &-title {
        font-size: 24px;
        color: #000;
        margin-bottom: 30px;
    }
    &:hover {
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}

// end advantages
// start slider-featured
.slider-featured {
    background-color: $bg-d;
    padding: 120px 0;
}

.slider-featured__box-top-btn,
.slider-followers__box-top-btn {
    width: 110px;
    height: 45px;
    border-radius: 22px;
    background-color: $purple;
    @include between-center;
    .slick-arrow {
        position: relative;
    }
    .slick-arrow::before {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        background: center no-repeat;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
    }
    .slick-prev::before {
        background-image: url(../img/icons/chevron-left.svg);
    }
    .slick-next::before {
        background-image: url(../img/icons/chevron-right.svg);
    }
}

.slick-arrow {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    height: inherit;
    width: 55px;
    border-radius: inherit;
}

.slider-featured__item {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    border-radius: 4px;
    padding-right: 55px;
    &-img {
        background: center/cover no-repeat;
        max-width: 555px;
        width: 100%;
    }
    &-description {
        max-width: 480px;
        width: 100%;
    }
}

.slider-featured__item-description {
    padding-top: 50px;
    &-title {
        font-size: 24px;
        color: #000;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &-box-info {
        margin-bottom: 26px;
        font-size: 15px;
        &-author-avatar,
        img,
        span {
            vertical-align: middle;
            display: inline-block;
        }
        &-author-avatar,
        img {
            margin-right: 9px;
        }
        &-author {
            margin-right: 16px;
            &-avatar {
                display: inline-block;
                background: center/cover no-repeat;
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }
            span {
                color: #000;
            }
        }
        &-category {
            span {
                color: $purple;
            }
        }
    }
    &-text {
        margin-bottom: 20px;
    }
}

.slider-featured__item-description-keywords {
    margin-bottom: 45px;
    a+a {
        margin-left: 4px;
    }
    a {
        background-color: #f1f3f6;
        font-size: 15px;
        color: #868c96;
        border-radius: 14px;
        padding: 0 15px;
    }
}

.slider-featured__item-description-functional {
    @include between-center;
    border-top: 1px solid #ececec;
    height: 80px;
    img {
        display: inline-block;
    }
    &-price {
        background-color: $btn;
        color: #fff;
        font-weight: 500;
        border-radius: 16px;
        padding: 1px 17px;
    }
    &-favorite,
    &-cart {
        margin-left: 18px;
        span {
            padding-left: 10px;
        }
    }
    &-cart {
        span {
            color: $btn;
        }
    }
    &-star {
        margin-left: auto;
    }
}

// end slider-featured
// start new-products
.new-products {
    padding: 120px 0;
    background-color: $bg;
}

.new-products__box-top {
    margin-bottom: 30px;
    padding-right: 16px;
}

.new-products__filter-by {
    @include between-center;
    max-width: 120px;
    width: 100%;
    color: #747b86;
    line-height: 20px;
    position: relative;
    span {
        margin-bottom: 4px;
    }
    &-btn {
        width: 35px;
        height: 35px;
        border: none;
        border-radius: 50%;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        margin-right: 17px;
    }
    &-list {
        position: absolute;
        top: 40px;
        right: 0;
        font-size: 15px;
        z-index: 210;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
        border: 1px solid #CCC;
        min-width: 150px;
        display: none;
        li {
            display: block;
            .mixitup-control-active {
                font-weight: 700;
            }
            button {
                border: none;
                padding: 10px;
                width: 100%;
                cursor: pointer;
                padding: 7px 10px;
                background-color: transparent;
                outline: none;
                color: #747b86;
                &:hover {
                    background-color: $btn;
                    color: #fff;
                }
            }
        }
    }
}

.new-products__top-btn {
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    padding: 30px;
    margin-bottom: 50px;
    background-color: #fff;
    button+button {
        margin-left: 6px;
    }
    button {
        cursor: pointer;
        color: #747b86;
        font-size: 15px;
        background-color: #f1f3f6;
        border-radius: 16px;
        padding: 8px 20px;
        border: none;
        outline: none;
        &.mixitup-control-active {
            color: #fff;
            background-color: $btn;
            font-weight: 500;
        }
    }
}

.new-products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    max-width: 361px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 30px;
    background-color: #fff;
    &:hover &__img-link {
        transition: all .6s;
        opacity: 1;
        z-index: 205;
        background-image: linear-gradient( -90deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 90%);
    }
    &__img {
        display: block;
        min-height: 230px;
        background: center/cover no-repeat;
        position: relative;
        &-link {
            position: absolute;
            @include all-center;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: -1;
            a+a {
                margin-left: 10px;
            }
            a {
                color: #fff;
                font-weight: 500;
                border: 1px solid #fff;
                border-radius: 22px;
                padding: 6px 15px;
                min-width: 131px;
                max-height: 45px;
                text-align: center;
                transition: all .6s;
                &:hover {
                    background-color: #fff;
                    color: $btn;
                }
            }
        }
    }
    &__content {
        padding: 30px;
        &-title {
            font-size: 20px;
            color: #000;
            font-weight: 500;
            margin-bottom: 12px;
        }
        &-description {
            display: flex;
            align-items: center;
            margin-bottom: 23px;
            &-author {
                display: flex;
                align-items: center;
                margin-right: 18px;
                &-avatar {
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background: center/cover no-repeat;
                    margin-right: 7px;
                }
                span {
                    color: #000;
                }
            }
            &-category {
                display: flex;
                align-items: center;
                span {
                    color: $purple;
                    font-size: 15px;
                    margin-left: 7px;
                }
            }
        }
    }
    &__info {
        padding: 15px 30px;
        @include between-center;
        border-top: 1px solid #ececec;
        font-size: 15px;
        img {
            display: inline-block;
        }
        span {
            margin-left: 5px;
        }
        &-price {
            color: $btn;
            font-weight: 500;
            background-color: rgba($btn, .1);
            border-radius: 15px;
            padding: 0 17px;
            margin-right: 16px;
        }
        &-favorite {
            color: #6f7d8d;
        }
        &-star {
            margin-left: 10px;
        }
        &-cart {
            margin-left: auto;
        }
    }
}

.new-products__buttom-btn {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    a {
        color: #fff;
    }
}

// end new-products
// start slider-followers
.slider-followers {
    padding: 120px 0;
    background-color: $bg-d;
}

.slider-followers__box-top-btn {
    background-color: $btn;
}

.slider-followers__inner {
    .slick-list {
        margin-left: -14px;
        margin-right: -14px;
    }
    .product-item {
        margin: 0 14px;
    }
}

// end slider-followers
// start analytics
.analytics {
    background-color: rgba(#0d0f13, .8);
    padding: 95px 0;
}

.analytics__inner {
    display: flex;
    justify-content: space-between;
}

.analytics__item {
    text-align: center;
    max-width: 180px;
    &-icon {
        margin-bottom: 38px;
    }
    &-number {
        font-size: 36px;
        margin-bottom: 13px;
    }
    &-text {
        font-size: 18px;
        color: #fff;
    }
    .analytics__magnifier {
        color: #feb71d;
    }
    .analytics__cloud-download {
        color: #58c9e9;
    }
    .analytics__smile {
        color: #77de51;
    }
    .analytics__users {
        color: #ff6a6d;
    }
}

// end analytics
// start more-advantages
.more-advantages {
    margin: 120px 0;
}

.more-advantages__top {
    text-align: center;
    max-width: 675px;
    margin: 0 auto;
    &-title {
        font-size: 36px;
        color: #000;
        margin-bottom: 25px;
        span {
            color: $btn;
        }
    }
    &-text {
        margin-bottom: 60px;
    }
}

.more-advantage__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.more-advantage__item {
    max-width: 361px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    text-align: center;
    margin-bottom: 30px;
    padding: 55px 32px;
    position: relative;
    &-number {
        position: absolute;
        left: 20px;
        top: 20px;
        color: rgba(#5c87f8, .2);
        font-size: 48px;
        font-weight: 300;
    }
    &-img {
        margin-bottom: 30px;
    }
    &-title {
        font-size: 24px;
        color: #000;
        margin-bottom: 21px;
    }
}

// end more-advantages
// start invite
.invite {
    background: center/cover no-repeat;
    padding: 100px 0;
}

.invite__inner {
    display: flex;
}

.invite__item {
    text-align: center;
    color: #fff;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img {
        margin-bottom: 40px;
    }
    &-title {
        font-size: 36px;
        margin-bottom: 25px;
    }
    &-text {
        max-width: 590px;
        margin-bottom: 45px;
    }
    &-btn {
        background-color: #fff;
    }
    .become-author {
        color: $btn;
    }
    .atart-shopping {
        color: $purple;
    }
}

// end invite
// start feedback
.feedback,
.news {
    padding: 120px 0;
}

.feedback__top,
.news__top {
    text-align: center;
    margin: 0 auto 54px;
    max-width: 690px;
    &-title {
        font-size: 36px;
        color: #000;
        margin-bottom: 27px;
        span {
            color: $btn;
        }
    }
}

.feedback__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.feedback__item {
    border-left: 2px solid $btn;
    max-width: 555px;
    padding: 50px 35px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &-author {
        display: flex;
        align-items: center;
        &-info {
            max-width: 280px;
        }
        &-avatar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: center/cover no-repeat;
            margin-right: 15px;
        }
        &-name {
            font-size: 20px;
            color: #000;
            margin-bottom: 13px;
        }
        &-profession {
            line-height: 20px;
        }
    }
}

.feedback__btn {
    display: flex;
    justify-content: center;
    a {
        color: #fff;
        font-size: 16px;
    }
}

// end feedback
// start news
.news {
    background-color: $bg-d;
}

.news__inner {
    display: flex;
    justify-content: space-between;
}

.news__item {
    max-width: 361px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: #fff;
    &-img {
        display: block;
        min-height: 230px;
        background: center/cover no-repeat;
    }
    &-content {
        padding: 30px;
    }
    &-title {
        font-size: 22px;
        color: #000;
        font-weight: 500;
        margin-bottom: 12px;
    }
    &-info {
        padding: 10px 30px;
        @include between-center;
        border-top: 1px solid #ececec;
        font-size: 15px;
        color: #7e7e7e;
        div {
            width: 50%;
        }
        span {
            margin-left: 8px;
        }
        // div>span,
        // a>span {
        //     margin-left: 8px;
        // }
        &-date {
            color: #999;
            display: flex;
            align-items: center;
        }
        &-posts,
        &-eye {
            display: flex;
            justify-content: flex-end;
        }
    }
    &-box {
        display: flex;
        align-items: center;
        border-left: 1px solid #ececec;
        justify-content: flex-end;
        min-height: 40px;
    }
}

// end news
// start join
.join__inner {
    display: flex;
    justify-content: space-between;
}

.join__item {
    width: 50%;
    text-align: center;
    padding: 63px 0 58px;
    &+.join__item {
        border-left: 1px solid #e8eaf3;
    }
    &-img {
        margin-bottom: 16px;
    }
    &-title {
        font-size: 24px;
        color: #000;
    }
}

.join__bottom-bg {
    background-image: linear-gradient( -90deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 90%);
}

.join__bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 110px 0 110px;
    color: #fff;
    &-title {
        font-size: 36px;
        margin-bottom: 20px;
    }
    &-text {
        font-size: 18px;
        margin-bottom: 47px;
    }
    &-btn a {
        color: $btn;
        background-color: #fff;
    }
}

// end join
// start footer
.footer__wrapper {
    background-color: #262b30;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 115px 0 120px;
    color: #ababab;
    font-size: 15px;
}

.footer__col {
    max-width: 175px;
    width: 100%;
}

.contact__col {
    max-width: 285px;
    li {
        display: block;
    }
    &-logo {
        display: inline-flex;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 26px;
        img {
            margin-right: 7px;
        }
        span {
            color: $btn;
        }
    }
    &-text {
        line-height: 28px;
        margin-bottom: 16px;
    }
    a {
        line-height: 18px;
    }
    &-phone,
    &-email,
    &-info {
        padding-left: 30px;
        position: relative;
    }
    &-phone::before,
    &-email::before,
    &-info::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        background-position: 0 0;
        background: center/cover no-repeat;
    }
    &-phone::before {
        background-image: url(../img/icons/phone-handset.svg);
    }
    &-email::before {
        background-image: url(../img/icons/envelope-footer.svg);
    }
    &-info::before {
        background-image: url(../img/icons/map-marker.svg);
    }
}

.footer__col-title {
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #fff;
    padding: 8px 0 31px;
}

.footer__col-list {
    font-size: 15px;
    li {
        display: block;
        line-height: 20px;
        margin-bottom: 12px;
    }
}

.letter__col {
    max-width: 360px;
    .footer__col-title {
        padding-bottom: 27px;
    }
    &-text {
        line-height: 28px;
        margin-bottom: 30px;
    }
    &-subscription {
        position: relative;
        outline: none;
        max-width: 360px;
        width: 100%;
        margin-bottom: 48px;
        input {
            display: block;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            padding-left: 30px;
            padding-right: 130px;
            outline: inherit;
            border: none;
            &:focus::placeholder {
                color: transparent;
            }
            &::placeholder {
                color: #ababab;
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            border: none;
            min-width: 110px;
            height: 50px;
            border-radius: 25px;
            background-color: $btn;
            cursor: pointer;
            outline: inherit;
            color: #fff;
            @include tr-scale;
        }
    }
    &-social-link {
        li+li {
            margin-left: 14px;
        }
        a {
            @include tr-scale;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
                background: center no-repeat;
                width: 15px;
                height: 15px;
            }
        }
        .fb {
            background-color: #395799;
            &::before {
                background-image: url(../img/social/fb.png);
                width: 9px;
                height: 16px;
            }
        }
        .tw {
            background-color: #19b2f5;
            &::before {
                background-image: url(../img/social/tw.png);
                height: 13px;
            }
        }
        .google {
            background-color: #f05b44;
            &::before {
                background-image: url(../img/social/google.png);
                width: 14px;
            }
        }
        .pt {
            background-color: #9c0c1c;
            &::before {
                background-image: url(../img/social/pt.png);
            }
        }
        .in {
            background-color: #0da6be;
            &::before {
                background-image: url(../img/social/in.png);
                height: 14px;
            }
        }
        .b {
            background-color: #ea4c89;
            &::before {
                background-image: url(../img/social/b.png);
                width: 14px;
            }
        }
    }
}

.footer__copyright {
    background-color: #192027;
    text-align: center;
    padding: 32px 0;
    color: #999;
    font-size: 15px;
    a {
        color: #fff;
    }
}

// end footer
// start category page
// start top-line
.top-line {
    min-height: 180px;
    background-image: linear-gradient( -90deg, rgb(13, 62, 242) 0%, rgb(45, 47, 199) 46%, rgb(76, 31, 156) 90%);
    color: #fff;
    &__search-title {
        color: #f3f3f8;
        font-size: 26px;
        margin-bottom: 31px;
    }
    &__search {
        position: relative;
        outline: none;
        max-width: 555px;
        width: 100%;
        margin-bottom: 30px;
        font-size: 15px;
        input {
            display: block;
            width: 100%;
            height: 55px;
            border-radius: 27px;
            padding-left: 30px;
            padding-right: 130px;
            outline: inherit;
            border: none;
            &:focus::placeholder {
                color: transparent;
            }
            &::placeholder {
                color: #747b86;
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            border: none;
            min-width: 110px;
            height: 55px;
            border-radius: 27px;
            background-color: $btn;
            cursor: pointer;
            outline: inherit;
            color: #fff;
            @include tr-scale;
        }
    }
}

.top-line__search-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 0 20px;
}

// end top-line
// start div category-page
.category-page {}

// srart filter
.category-page__filter-inner {
    @include between-center;
    min-height: 100px;
}

.category-page__filter {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &-link {
        a+a {
            margin-left: 35px;
        }
        a.filter-link-active {
            color: $btn;
        }
    }
    &-settings {
        display: flex;
        justify-content: space-between;
        max-width: 595px;
        width: 100%;
        .jq-selectbox__select {
            min-width: 220px;
            min-height: 44px;
            background: transparent;
            box-shadow: none;
            border: 1px solid rgb(236, 239, 242);
            border-radius: 3px;
            padding-left: 0;
            .jq-selectbox__select-text {
                font-family: 'Quicksand', sans-serif;
                color: #747b86;
                font-size: 14px;
                padding-top: 4px;
                padding-left: 14px;
                width: 100%;
            }
            .jq-selectbox__trigger {
                border: none;
                .jq-selectbox__trigger-arrow {
                    border: none;
                    background: url(../img/icons/chevron-down.svg) center/cover no-repeat;
                    width: 13px;
                    height: 8px;
                    right: 15px;
                    top: 16px;
                }
            }
        }
        .jq-selectbox__dropdown {
            bottom: auto !important;
            li {
                font-family: 'Quicksand', sans-serif;
                color: $text;
                font-size: 14px;
                display: block;
                padding: 7px 10px;
            }
        }
        .jq-selectbox li:hover {
            background-color: $btn;
            color: #fff;
        }
    }
    &-settings-icons {
        @include all-center;
        min-width: 96px;
        min-height: 44px;
        border-radius: 3px;
        border: 1px solid rgb(236, 239, 242);
        button {
            border: none;
            cursor: pointer;
            background-color: transparent;
            outline: none;
            &+button {
                margin-left: 3px;
            }
        }
    }
    .active-icon {
        path {
            fill: rgb(6, 116, 236);
        }
    }
}

// end filter
.category-page__products {
    background-color: #eff1f5;
    padding-top: 80px;
}

.category-page__inner {
    display: flex;
}

// start aside
.category-page__aside {
    margin-right: 30px;
}

.aside__item {
    width: 265px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 30px;
    margin-bottom: 29px;
    &-inner-top {
        display: flex;
        justify-content: space-between;
    }
    &-title {
        font-size: 20px;
        color: #010101;
    }
    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        outline: none;
        transition: all 1s;
    }
    button.rotate-btn {
        transform: rotateX(180deg);
    }
    &-wrapper {
        padding-top: 17px;
        margin-top: 21px;
        border-top: 1px solid #e7ebee;
        font-size: 15px;
        color: #747b86;
    }
}

.categories {
    &__active-link {
        color: $btn;
    }
    li {
        padding-left: 19px;
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        position: relative;
        a::before {
            content: '';
            position: absolute;
            left: -3px;
            top: 8px;
            background-image: url(../img/icons/chevron-down.svg);
            width: 12px;
            height: 12px;
            transform: rotate(-90deg);
        }
    }
}

.filter-products {
    li {
        padding-left: 19px;
        display: block;
        margin: 6px 0;
        position: relative;
        input[type="radio"] {
            display: none;
        }
        label {
            cursor: pointer;
        }
        label::before {
            content: '';
            height: 11px;
            width: 11px;
            position: absolute;
            left: 0;
            top: 8px;
            border: 1px solid #747b86;
            border-radius: 50%;
        }
        input[type="radio"]:checked+label::after {
            content: '';
            height: 7px;
            width: 7px;
            position: absolute;
            left: 2px;
            top: 10px;
            background-color: #747b86;
            border-radius: 50%;
        }
    }
}

.pricing-range {
    .pricing-range__inner {
        padding-top: 20px;
        min-height: 161px;
        text-align: center;
        position: relative;
    }
    .irs--flat .irs-line {
        background-color: #efedf3;
        height: 6px;
        border-radius: 3px;
        top: 0;
    }
    .irs--flat .irs-bar {
        height: 6px;
        background-color: $purple;
        top: 0;
    }
    .irs-handle.from,
    .irs-handle.to {
        width: 18px;
        height: 18px;
        border: 4px solid $btn;
        border-radius: 50%;
        top: -6px;
        left: 0;
        background-color: #fff;
    }
    .irs--flat .irs-max,
    .irs--flat .irs-min,
    .irs--flat .irs-handle>i:first-child,
    .irs--flat .irs-from:before,
    .irs--flat .irs-single:before,
    .irs--flat .irs-to:before {
        display: none;
    }
    .irs--flat .irs-from,
    .irs--flat .irs-single,
    .irs--flat .irs-to {
        color: $purple;
        font-size: 15px;
        width: 80px;
        height: 32px;
        border-radius: 16px;
        background-color: rgba($purple, .1);
        text-align: center;
        padding-top: 6px;
    }
    .irs-single {
        visibility: hidden !important;
    }
    .irs-from,
    .irs-to {
        position: static;
        display: inline-block;
        visibility: visible !important;
        margin-top: 26px;
    }
    .irs-to {
        margin-left: 45px;
    }
    .pricing-range__btn {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        a {
            color: #fff;
            font-size: 15px;
            min-width: 170px;
            padding: 7px 12px 7px;
        }
    }
}

// end aside
// start products-list
.category-page__products-list {
    margin-bottom: 120px;
}

.category-page__products-list-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

// start product-item
.category-page__product-item {
    max-width: 265px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 30px;
    transition: all .5s;
    &-img {
        background: center/cover no-repeat;
        width: 100%;
        min-height: 160px;
    }
    &-description {
        padding: 0 19px;
    }
    &-title {
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-weight: 500;
        padding-top: 5px;
        margin-bottom: 12px;
    }
    &-text,
    &-category {
        display: none;
    }
    &-author {
        padding: 0 19px;
        margin-bottom: 7px;
    }
    &-name {
        display: inline-flex;
        align-items: center;
        margin-bottom: 10px;
        &-avatar {
            background: center/cover no-repeat;
            min-width: 28px;
            height: 28px;
            margin-right: 7px;
        }
        span {
            color: #000;
            font-size: 15px;
        }
    }
    &-favorite,
    &-comments {
        display: none;
    }
    &-star-wrapper {
        @include between-center;
    }
    &-star {
        padding: 0;
        &+span {
            display: none;
        }
    }
    &-cart {
        color: $btn;
        font-size: 15px;
        span {
            margin-left: 8px;
        }
    }
    &-info {
        border-top: 1px solid #ececec;
        @include between-center;
        min-height: 60px;
        padding: 0 19px;
        &-price {
            color: $btn;
            font-weight: 500;
            background-color: rgba($btn, .1);
            border-radius: 15px;
            padding: 0 10px;
            text-align: center;
            min-width: 60px;
        }
        &-category {
            display: flex;
            align-items: center;
            span {
                color: $purple;
                font-size: 15px;
                margin-left: 7px;
            }
        }
        &-cart {
            display: none;
        }
    }
}

// start product-item.list
.category-page__product-item {
    &.list {
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        .category-page__product-item {
            &-img {
                max-width: 230px;
            }
            &-content {
                max-width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 23px 0;
            }
            &-description {
                min-width: 260px;
            }
            &-title {
                padding-top: 0;
            }
            &-text {
                display: block;
                margin-bottom: 11px;
            }
            &-category {
                display: inline-flex;
                align-items: center;
                span {
                    color: $purple;
                    font-size: 15px;
                    margin-left: 7px;
                }
            }
            &-author {
                max-width: 206px;
                width: 100%;
                border-left: 1px solid #ececec;
                padding-top: 14px;
                a+a>span {
                    color: #6f7d8d;
                    margin-left: 5px;
                    font-size: 15px;
                }
            }
            &-name {
                margin-bottom: 16px;
            }
            &-favorite {
                display: inline-block;
            }
            &-comments {
                display: inline-block;
            }
            &-star-wrapper {
                justify-content: start;
            }
            &-star+span {
                display: inline-block;
                margin-left: 9px;
                font-size: 15px;
                color: #6f7d8d;
            }
            &-cart {
                display: none;
            }
            &-info {
                border-top: none;
                border-left: 1px solid #ececec;
                flex-direction: column;
                justify-content: center;
                font-size: 15px;
                &-category {
                    display: none;
                }
                &-price {
                    min-width: 99px;
                    margin-bottom: 23px;
                }
                &-cart {
                    display: block;
                    color: $btn;
                    span {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}

// end product-item.list
// start pagination
.pagination {
    display: flex;
    justify-content: space-between;
    max-width: 355px;
    margin-left: auto;
    a {
        width: 50px;
        height: 38px;
        background-color: #fff;
        border-radius: 19px;
        text-align: center;
        padding: 4px 5px;
        color: #747b86;
        font-weight: 500;
    }
    .pagination__active-page {
        background-color: $btn;
        color: #fff;
    }
    a.pagination__next {
        background-color: $purple;
        path {
            fill: #fff;
        }
    }
}

// end pagination
// end product-item
// end products-list
// end div category-page
// start top-line
// end top-line
// start top-line
// end top-line
// start top-line
// end top-line
// start top-line
// end top-line
// end category page
@import 'media';